# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import statistics as st

# File to Load
school_data_to_load = "04-Pandas_Homework_PyCitySchools_Resources_schools_complete.csv"
student_data_to_load = "04-Pandas_Homework_PyCitySchools_Resources_students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [19]:
# Calculate total number of schools

totalschools = len(school_data["school_name"].unique())

# Calculate total number of students

totalstudents = len(school_data_complete["Student ID"].unique())

# Calculate total budget and convert it to currency format

totalbudget = school_data["budget"].sum()
tbformat = ('$' + format(totalbudget, ',.2f'))

In [20]:
# Calculate average math score

avgmath = round(school_data_complete["math_score"].mean(), 6)

# Calculate average reading score

avgread = round(school_data_complete["reading_score"].mean(), 6)

In [21]:
# Calculate number of students passing math, percentage of students passing math, and convert to percent format

passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]

passing_math_rate = round(passing_math_count / float(totalstudents) * 100, 6)

passing_math_percent = str(passing_math_rate) + "%"

In [22]:
# Same process with students passing reading

passing_read_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']

passing_read_rate = round(passing_read_count / float(totalstudents) * 100, 6)

passing_read_percent = str(passing_read_rate) + "%"

In [23]:
# Calculate passing rates for math and reading, overall passing percent, and convert to percent format

passrates = [passing_math_percentage, passing_read_percentage]

overallpassingrate = round(st.mean(passrates), 6)

overallpassingpercent = str(overallpassingrate) + '%'

NameError: name 'passing_math_percentage' is not defined

In [ ]:
district_summary_df = pd.DataFrame([{'Total Schools' : totalschools,
                                    'Total Students' : totalstudents,
                                    'Total Budget' : tbformat,
                                    'Average Math Score' : avgmath,
                                    'Average Reading Score' : avgread,
                                    '% Passing Math' : passing_math_percent,
                                    '% Passing Reading' : passing_read_percent,
                                    'Overall Passing Rate' : overallpassingpercent}],
                                   columns=['Total Schools', 'Total Students', 'Total Budget', 
                                              'Average Math Score', 'Average Reading Score',
                                              '% Passing Math', '% Passing Reading', 'Overall Passing Rate'])

district_summary_df.head()

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [ ]:
# Make lists for School Name, School Type, and Total Students

schools = [school_data['school_name']]
schooltype = [school_data['type']]
schoolsize = [school_data['size']]

In [ ]:
# Make list for total school budgets and convert to currency format

schoolbudget = [school_data['budget']]
sbformat = ('$' + format(schoolbudget, ',.2f'))

In [ ]:
# Calculate per student budget and convert to currency format

psbudget = schoolbudget/schoolsize
psbformat = ('$' + format(psbudget, ',.2f'))

In [ ]:
# Group by school and calculate means of math and reading scores for each school

school_groups = school_data_complete.groupby(['school_name'])

mathscores = school_groups.mean()['math_score']

readscores = school_groups.mean()['reading_score']

In [24]:
# Filter data to get passing math scores, then group by school to get the count of students passing math in each school

school_math_filter = school_data_complete.loc[school_data_complete['math_score'] >= 70, :]
school_groups2 = school_math_filter.groupby(['school_name'])

school_passing_math_count = school_groups2.count()["student_name"]

# Same process to get count of students passing reading in each school

school_read_filter = school_data_complete.loc[school_data_complete['reading_score'] >= 70, :]
school_groups3 = school_read_filter.groupby(['school_name'])

school_passing_read_count = school_groups3.count()["student_name"]

school_passing_math_count
#school_passing_math_count = school_groups2[(school_groups["math_score"] >= 70)].count()["student_name"]

#fun = (school_data_complete["math_score"] >= 70).count()["student_name"]
#school_passing_math_count = school_groups.apply(fun)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [26]:
school_passing_math_rate = round(school_passing_math_count / float([schoolsize]) * 100, 6)

NameError: name 'schoolsize' is not defined

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.